/* src/fonts/font-face.css */

@font-face {
  font-family: 'OpenAISans';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('./OpenAISans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenAISans';
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url('./OpenAISans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'OpenAISans';
  font-style: normal;
  font-weight: 600; /* Semibold */
  src: url('./OpenAISans-Semibold.woff2') format('woff2');
}